<h1>購入情報入力画面</h1>

<%= form_with(model: @order_new, local: true, url: new_order_path) do |f| %>
  <h4>支払い方法選択</h4>
  <p>
    <%= f.select :payment_method, Order.payment_methods.keys, {prompt: '選択してください'} %>
  </p>
  <h4>住所選択</h4>

  <div>
    <p><%= radio_button_tag("address_key", "1", checked: true) %> 自分の住所</p>
    <p><%= @address.address_full %></p>
  </div>

  <div>
    <p><%= radio_button_tag("address_key", "2") %> 登録済住所から選択</p>
    <p><%= f.collection_select :key, current_user.addresses.where.not(is_default: true), :id, :address_full %>
  </div>

  <div>
    <p><%= radio_button_tag("address_key", "3") %> 新規住所登録</p>
    <%= f.fields_for :address do |address| %>
      <p>受取人： <%= address.text_field :receiver, placeholder: "田中太郎" %></p>
      <p>郵便番号： <%= address.text_field :postal_code, placeholder: "0000000" %></p>
      <p>
        住所： <%= address.select :prefecture, Address.prefectures.keys.to_a, include_blank: '都道府県' %><br>
              <%= address.text_field :city, placeholder: "市区町村" %><br>
              <%= address.text_field :after, placeholder: "以降の住所" %>
      </p>
    <% end %>
  </div>

  <%= f.submit '購入に進む' %>
<% end %>