<h1>取引詳細</h1>

<div>
  <% if @order.status == "入金待ち" %>
    <% if current_user.id == @buyer.id %>
      <p>入金してください。</p>
      <p><%= link_to "入金完了", order_path(@order), method: :patch %></p>
    <% elsif current_user.id == @seller.id %>
      <p>入金されるまでお待ちください</p>
    <% end %>
  <% elsif @order.status == "発送待ち（サプライズ準備中）" %>
    <% if current_user.id == @buyer.id %>
      <p>発送されるまでお待ちください。</p>
    <% elsif current_user.id == @seller.id %>
      <p>商品を発送してください。</p>
      <p><%= link_to "発送完了", order_path(@order), method: :patch %>
    <% end %>
  <% elsif @order.status == "配達中（サプライズ実施前）" %>
    <% if current_user.id == @buyer.id %>
      <p>商品が発送されました。商品到着後、以下のボタンを押して取引を完了してください。</p>
      <p><%= link_to "商品を受け取りました。取引を完了します。", order_path(@order), method: :patch %></p>
    <% elsif current_user.id == @seller.id %>
      <p>商品を発送しました。購入者が取引を完了するまでお待ちください。</p>
    <% end %>
  <% elsif @order.status == "取引完了" %>
    <% if current_user.id == @buyer.id %>
      <p>取引は終了しました。</p>
      <p><%= link_to "出品者にお礼のメッセージを送信する", reviews_new_path(@seller) %></p>
    <% elsif current_user.id == @seller.id %>
      <p>取引は終了しました。</p>
      <p><%= link_to "購入者にお礼のメッセージを送信する", reviews_new_path(@buyer) %></p>
    <% end %>
  <% end %>
</div>

<div>
  <% if @seller.id == current_user.id %>
    <p>購入者情報</p>
    <p><%= link_to @buyer.name, user_path(@buyer) %></p>
    <p><%= @buyer.addresses.find_by(is_default: true).address_full %></p>
  <% else %>
    <p>出品者情報</p>
    <p><%= link_to @seller.name, user_path(@seller) %></p>
  <% end %>
</div>

<div>
  <h4>取引メッセージ</h4>
  <% @order.order_messages.each do |message| %>
    <p>
      <%= l message.created_at, format: :short %>
      <%= message.user.name %>
      <%= message.text %>
    </p>
  <% end %>
</div>

<div>
  <h4>メッセージ作成</h4>
  <%= form_with(model: @order_message_new, local: true, url: order_messages_path(@order)) do |f| %>
    <%= f.text_area :text %>
    <%= f.submit "送信" %>
  <% end %>
</div>

<div>
  <% if @order.status == "入金待ち" %>
    <%= link_to "取引をキャンセルする", cancel_requests_new_path(@order) %>
  <% end %>
</div>