<h1>エンドユーザサプライズ詳細ページ</h1>

<% unless @surprise.order.nil? %>
  <p>sold out</p>
<% end %>

<%= attachment_image_tag @surprise, :main_image, :fill, 100, 100, fallback: "no_image.jpg", size: "100x100" %>
<% @surprise.surprise_images.each do |sub_image| %>
  <%= attachment_image_tag sub_image, :image, :fill, 100, 100, size: "100x100" %>
<% end %>

<%= link_to user_path(@surprise.user) do %>
  <p>
    <%= attachment_image_tag @surprise.user, :profile_image, :fill, 40, 40, fallback: "no_image.jpg", size: "40x40" %> 
    <%= @surprise.user.name %>
  </p>
<% end %>

<% if @surprise.user != current_user %>
  <% if @surprise.is_favorite?(current_user) %>  
    <%= link_to "いいね解除", surprise_favorites_path(@surprise), method: :delete %>
  <% else %>
    <%= link_to "いいね", surprise_favorites_path(@surprise), method: :post %>
  <% end %>
<% end %>

<h3>サプライズ名：<%= @surprise.name %></h3>
<p>サプライズ説明：<%= @surprise.description %></p>
<p>価格：<%= @surprise.price %></p>
<p>送料：<%= @surprise.postage %></p>

<p>対象地域：
  <% @surprise.target_areas.each do |area| %>
    <%= area.name %>
  <% end %>
</p>

<% if @surprise.user == current_user %>
  <%= link_to "編集する", edit_surprise_path(@surprise) %>

  <% if @surprise.is_active == true %>
    <%= link_to "出品停止", surprise_path(@surprise, flag: true), method: :patch %>
  <% else %>
    <%= link_to "出品再開", surprise_path(@surprise, flag: false), method: :patch %>
  <% end %>

  <%= link_to "削除", surprise_path(@surprise), method: :delete %>
<% else %>
  <%= link_to "相談・依頼する", user/chat_rooms#createへのパス %>
<% end %>