<h1>プロフィール編集ページ</h1>

<%= form_with(model: current_user, local: true, url: user_edit_path) do |f| %>
  <p>プロフィール画像：<%= f.attachment_field :profile_image %></p>
  <p>ユーザー名：<%= f.text_field :name %></p>
  <p>自己紹介：<%= f.text_area :introduction %></p>
  <p><%= f.submit "更新する" %></p>
<% end %>