<h1>エンドユーザ詳細</h1>

<%= attachment_image_tag @user, :profile_image, :fill, 100, 100, fallback: "no_image.jpg", size: "100x100" %>
<h3>ユーザー名：<%= @user.name %></h3>
<p>自己紹介文：<%= @user.introduction %></p>
<p>フォロー：<%= @user.following_user.count %></p>
<p>フォロワー：<%= @user.follower_user.count %></p>
<p>レビュー数：<%= @user.receive_review.count %></p>


<h3>出品サプライズ一覧</h3>
<% @user.surprises.each do |surprise| %>
  <div>
    <% unless surprise.order.nil? %>
      <p>sold out</p>
    <% end %>

    <%= attachment_image_tag surprise, :main_image, :fill, 50, 50, fallback: "no_image.jpg", size: "50x50" %>

    <h5><%= link_to surprise.name, admin_surprise_path(surprise) %></h5>
  </div>
<% end %>


<h3>詳細情報</h3>
<p>氏名：<%= @default_address.receiver %></p>
<p>メールアドレス：<%= @user.email %></p>
<p>郵便番号：<%= @default_address.postal_code %></p>
<p>都道府県：<%= @default_address.prefecture %></p>
<p>市区町村：<%= @default_address.city %></p>
<p>番地以下：<%= @default_address.after %></p>


<h5>配送先住所一覧</h5>
<% @user.addresses.where.not(is_default: true).each do |address| %>
  <div>
    <p>受取人：<%= address.receiver %></p>
    <p>郵便番号：<%= address.postal_code %></p>
    <p>都道府県：<%= address.prefecture %></p>
    <p>市区町村：<%= address.city %></p>
    <p>番地以下：<%= address.after %></p>
  </div>
<% end %>

<% if @user.is_deleted == false %>
  <%= link_to "アカウント停止", admin_user_delete_path(@user), method: :patch %>
<% else %>
  <%= link_to "アカウント停止解除", admin_user_path(@user), method: :patch %>
<% end %>