<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <h4>ユーザー名</h4>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.fields_for :address do |address| %>
      <h4>氏名</h4>
      <%= address.text_field :receiver, placeholder: "田中太郎" %>

      <h4>郵便番号</h4>
      <%= address.text_field :postal_code, placeholder: "0000000" %>

      <h4>住所</h4>
      <%= address.select :prefecture, Address.prefectures.keys.to_a, include_blank: '都道府県' %><br>
      <%= address.text_field :city, placeholder: "市区町村" %><br>
      <%= address.text_field :after, placeholder: "以降の住所" %>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :phone_number %>
    <%= f.text_field :phone_number %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
